{
  "dev": {
    "apiUrl": "",
    "discord": {
      "clientId": "",
      "redirectUri": "http://localhost:9000/callback"
    }
  },
  "prod": {
    "apiUrl": "",
    "discord": {
      "clientId": "",
      "redirectUri": "https://xxx.xxx.xx/callback"
    }
  }
}
